$ease-out-smooth: cubic-bezier(0.1, 0.9, 0.2, 1);
$ease-in-out-smooth: cubic-bezier(0.75, 0, 0, 1);

// #region 字体
$fallback-fonts: "Microsoft YaHei", "Microsoft JhengHei", SimHei, sans-serif;
$fonts: Roboto, "HarmonyOS Sans SC", "MiSans", "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Source Han Sans CN", "Source Han Sans SC", $fallback-fonts;
$monospace-fonts: "Cascadia Code", "Cascadia Mono", "JetBrains Mono", Consolas, "SF Mono", monospace, $fonts;
// #endregion

html {
  font-family: $fonts;
}

body {
  user-select: none;
}

::selection {
  background-color: rgba(240, 110, 142, 0.3)
}

.v-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container {
  width: 100%;
  max-width: 960px;
  padding: 2em 0;
}

@keyframes float-in-up {
  from {
    transform: translateY(6em) scale(0.9);
    filter: opacity(0);
  }

  to {
    transform: none;
    filter: none;
  }
}

@keyframes float-in-down {
  from {
    transform: translateY(-6em) scale(0.9);
    filter: opacity(0);
  }

  to {
    transform: none;
    filter: none;
  }
}

@keyframes float-in-left {
  from {
    transform: translateX(6em);
    filter: opacity(0);
  }

  to {
    transform: none;
    filter: none;
  }
}

@keyframes float-in-right {
  from {
    transform: translateX(-6em);
    filter: opacity(0);
  }

  to {
    transform: none;
    filter: none;
  }
}

.float-in-up {
  animation: float-in-up $ease-out-smooth 600ms;
}

.float-in-down {
  animation: float-in-down $ease-out-smooth 600ms;
}

.float-in-left {
  animation: float-in-left $ease-out-smooth 600ms;
}

.float-in-right {
  animation: float-in-right $ease-out-smooth 600ms;
}
